body {
    /* font-family: "Montserrat"; */
    font-family: 'Quicksand', sans-serif;
    text-align: center;
}

.container-fluid{
    padding: 2% 10%;
}

nav{
    margin-bottom: 5%;
}

h1{
    margin: 3% 0%;
    /* padding: 7% 7% 7% 0%; */
    font-size: 3rem;
}

#title-section {
    background-color: #FC7F7F;
}

.tindog-text {
    font-family: 'Quicksand', sans-serif;
    font-size: 2.5rem;
}

.main-heading-text{
    color: white;
}

@media screen and  (max-width:768px){
    .phone-mockup{
        width: 65%;
    }
}