body {
    /* font-family: "Montserrat"; */
    font-family: 'Quicksand', sans-serif;
    text-align: center;
}

#title-section {
    background-color: #FC7F7F;
    padding: 2% 10%;
}

nav {
    margin-bottom: 5%;
}

h1 {
    margin: 3% 0%;
    /* padding: 7% 7% 7% 0%; */
    font-size: 3rem;
}

.tindog-text {
    font-family: 'Quicksand', sans-serif;
    font-size: 2.5rem;
}

.main-heading-text {
    color: white;
    text-align: left;
}

.download-btn-container{
       text-align: left;
}

.download-btn {
    margin: 5% 3% 5% 0;
}

.phone-mockup {
    position: relative;
    z-index: 0;
    width: 52%;
    transform: rotate(21deg);
}



#features-section {
    padding: 12% 0%;
    background-color: white;
    position: relative;
    z-index: 1;
    top: -8rem;
}



.features-container {
    padding: 0% 10%;
}

.features-box {
    padding: 0% 2.5%;
}

.features-box p {
    margin: 0% 0%;
    font-family: "Montserrat";
    font-weight: 400;
}

.features-box h3 {
    font-family: "Montserrat";
    font-weight: 800;
}

.icon {
    color: #FC7F7F;
    margin-bottom: 1rem;
}

.icon:hover {
    color: rgb(255, 70, 70);
}


/* testimonial Section */
#testimonials-section{
    background-color: #FC7F7F;
    margin-top: -8rem;
    /* padding:  7% 15%; */

}

.testimonial-text{
    color: white;
    font-size: 2.5rem;
    padding: 5% 15%;
}
.testimonial-by{
    color: white;
    font-size: 1.4rem;
    font-family: "Montserrat";
    /* font-weight: 700; */
}

.testimonial-img{
    width: 10%;
    border: 0px white solid;
    border-radius: 50%;
}

@media screen and (max-width:991px) {
    .phone-mockup {
        width: 35%;
        transform: rotate(0deg);
    }

    .main-heading-text {
        text-align: center;
    }

    .download-btn {
        text-align: center;
    }

    #features-section {
        top: -4rem;
    }
    #testimonials-section{
        margin:0;
    }
}

/* Press Section */
#press-section{
    background-color: #FC7F7F;
    padding: 5% 10% 5%; 

}

.press-logo{
    width: 15%;
    margin: 25px 25px 30px;
}


/* Pricing Section */

#pricing-section{
    padding: 7% 15%;
}

.rupee-symbol{
    font-family: "Ubuntu";
}
.pricing-column{
    padding: 3% 2%;
}

/* CTA-Section */
#cta-section{
    background-color: #FC7F7F;
    padding: 9% 15%;
}

#cta-section h3{
    color: aliceblue;
    font-size: 3rem;
}

/* Footer-Section */

#footer-section{
    background-color: white;
    padding: 7% 15%;
}

.social-icons{
    margin: 20px 10px;
}